{% if buttons is defined and buttons|length > 0 %}
    {% for button in buttons %}
        <a href="{{ button.url }}" class="btn btn-{{ button.class }}">
            {% if button.icon.type == 'fa' %}
                <i class="{{ button.icon.class }}"></i>
            {% endif %}
            {{ button.label|trans|capitalize }}
        </a>
    {% endfor %}
{% endif %}