{% if app.user is not null %}
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar" data-simplebar="init">
            <div class="simplebar-wrapper">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset">
                        <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content">
                            <div class="simplebar-content">
                                <a class="sidebar-brand" href="{{ path('home.index') }}">
                                    <span class="align-middle">Marvin</span>
                                </a>

                                {{ render(controller('App\\Controller\\MenuController::index', {'controller': controller_name})) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal">
                <div class="simplebar-scrollbar"></div>
            </div>
            <div class="simplebar-track simplebar-vertical">
                <div class="simplebar-scrollbar"></div>
            </div>
        </div>
    </nav>
{% endif %}