$theme-colors: (
  "primary": #3B7DDD,
  "secondary": #6c757d,
  "success": #1cbb8c,
  "info": #17a2b8,
  "warning": #f69c7b,
  "danger": #dc3545,
  "light": #f5f7fb,
  "dark": #212529
) !default;

$font-family-base: 'Poppins, Helvetica, sans-serif';
$font-size-base: .75rem !default;